
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/apps/*/*/config/secrets/prod/prod.decrypt.private.php
/apps/*/*/public/bundles/
/apps/*/*/var/
/vendor/
###< symfony/framework-bundle ###


###> phpunit/phpunit ###
.phpunit.result.cache
###< phpunit/phpunit ###
