
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/apps/backend/config/secrets/prod/prod.decrypt.private.php
/apps/backend/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
